.container {
  margin-top: 50px;
}

.input_item {
  margin: 16px 0;
  // border: 1px solid var(--ion-color-primary);
  // border-radius: 8px;
  // margin: 60px 0 20px;
}

.registerbtn {
  margin-top: 8px;
}

.submitbtn {
  margin-top: 32px;
}
