<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons>
      <ion-button [routerLink]="['/','home']">
        <ion-icon color="light" name="chevron-back-outline"></ion-icon>
      </ion-button>
      <ion-button class="right" [routerLink]="['/','profile']">
        <ion-icon color="light" name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
   <ion-title color="light" mode="ios">Results</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="search_container ion-padding" style="height: 100px">
    <ion-item class="input_item" lines="none">
      <ion-input #input [value]="inputVal" mode="md" placeholder="Search over 500,000 tabs"></ion-input>
      <ion-button size="default" (click)="searchTabs(input.value)">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </div>

  <ion-spinner *ngIf="loading" color="primary"></ion-spinner>
  <div class="no_result" *ngIf="!loading && result.length <= 0">
    <ion-icon style="font-size: 50px;" name="sad-outline"></ion-icon>
    <h2>No result found</h2>
  </div>

  <div *ngIf="!loading && result.length > 0">
    <ion-item *ngFor="let result of result; let i = index">
      <div class="result_field" (click)="showTabs(result.id)">
        <b>{{result.title}}</b><br>
        <p class="ion-no-margin">{{result.artist.name}}</p>
      </div>
      <ion-button slot="end" [color]="result.liked ? 'danger' : 'light'" (click)="likeTabs(result, i)">
        <ion-icon [color]="result.liked ? 'light' : 'danger'" name="heart-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </div>

</ion-content>